<title>My Fortnite Coach - <%= title %></title>
<link rel="stylesheet" href="/public/css/global.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="icon" type="image/x-icon" href="/public/img/favicon.png">
<link rel="stylesheet" href="/public/css/alert.min.css" />