<!DOCTYPE html>
<html>
    <head>
        <%- include partials/global-head.ejs %>
        <link rel="stylesheet" href="/public/css/team-form.min.css" />
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <div class="box">
                <h2>My team diary</h2>

                Lorem Ipsum dolor sit amet.
            </div>

            <div class="box diary-box">
                <div class="diary-date">
                    Monday 4th March 2019
                </div>

                <p>

                </p>
            </div>
        </div>
    </body>
</html>