<!DOCTYPE html>
<html>
    <head>
        <title>My Fortnite Coach</title>
        <link rel="stylesheet" href="/public/css/global.min.css" />
        <link rel="stylesheet" href="/public/css/index.min.css" />
        <link rel="stylesheet" href="/public/css/alert.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <div style="margin: 0 auto; max-width: 50%;">
                <a class="twitter-timeline" href="https://twitter.com/FortniteGame?ref_src=twsrc%5Etfw"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </body>
</html>