<!DOCTYPE html>
<html>
    <head>
        <%- include partials/global-head.ejs %>
        <link rel="stylesheet" href="/public/css/member-area.min.css" />
        <script src="/public/js/jquery.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <div class="box">
                <div class="flex actions">
                    <button id="login" class="active">I have an account</button>
                    <button id="join">I want to register</button>
                </div>
                
                <div id="member-area" class="form"></div>
            </div>
        </div>

        <script src="/public/js/member-area.min.js"></script>
    </body>
</html>