<!DOCTYPE html>
<html>
    <head>
        <title>My Fortnite Coach</title>
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/member-area.css" />
        <link rel="stylesheet" href="/public/css/slick.css" />
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css' />
        <link rel="stylesheet" href='/public/css/selectize.css' />
        <link rel="stylesheet" href="/public/css/alert.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">

        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <div class="box">
                <div class="flex actions">
                    <button id="login" class="active">I have an account</button>
                    <button id="join">I want to register</button>
                </div>
                
                <div id="member-area" class="form"></div>
            </div>
        </div>

        <script src="/public/js/custom/member-area.min.js"></script>
    </body>
</html>