<!DOCTYPE html>
<html>
    <head>
        <title>My Fortnite Coach</title>
        <link rel="stylesheet" href="/public/css/global.min.css" />
        <link rel="stylesheet" href="/public/css/team.min.css" />
        <link rel="stylesheet" href="/public/css/alert.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <div class="box-container">
                <div class="box">
                    <h2>Upgrade <%= userData[0].team.name %></h2>

                    <form method="post" action="/pay">
                        <div class="radio">
                            <p>You team has currently <b><%= offerName %></b> offer. Please select the new offer you want to subscribe:</p>
                            
                            <%if (userData[0].team.offer == 1) { %>
                            <div class="offer-box silver">
                                <input type="radio" id="silver" class="offer" name="upgrade" value="2" />
                                <label for="silver"><strong>Silver</strong> (up to 10 members) <small>- only <s>100$</s> 80$ for your entire life !</small></label>
                            </div>
                            <% } %>
    
                            <div class="offer-box gold">
                                <input type="radio" id="gold" class="offer" name="upgrade" value="3" />
                                <label for="gold"><strong>Gold</strong> (as many members as you want) <small>- only 350$ for your entire life !</small></label>
                            </div>
                        </div>

                        <button type="submit" class="button">Upgrade your team</button>
                    </form>
                </div>
            </div>

            <script src="/public/js/create-team.min.js"></script>
    </body>
</html>