#team-buttons a {
	display: inline-block;
    background: #9324c7;
    width: calc(50% - 3px);
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#team-buttons a:hover {
    background: #a555cc;
}

.avatar {
    float: right;
    margin: 0 50px 20px 20px;
}

.avatar img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    padding: 20px;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.avatar img.default {
    padding: 0;
}

.clearfix::after {
	clear: both;
	content: "";
}

.tu-avatar img {
    border: 1px solid black;
    width: 50px;
    border-radius: 100%;
}

.owner .tu-avatar img {
    border-width: 2px;
    border-color: #b11e1e;
}

.nobody .tu-avatar img {
    border: 2px dashed black;
}

.team-user-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.team-user {
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    width: 15%;
    padding: 5px 5px 0 5px;
    box-shadow: 0px 0px 5px -1px;
}

.tu-user {
    margin-left: 10px;
}

.tu-username {
    display: block;
    font-size: 16px;
}

.owner .tu-username {
    color: #b11e1e;
}

.tu-user a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 12px;
    letter-spacing: initial;
}

.nobody .tu-user a.add {
    color: #165416;
}

.tu-user a.kick {
    color: #9c0505;
}

.tu-user a:before {
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.nobody .tu-user a.add:before {
    content: "\f067";
}

.tu-user a.kick:before {
    content: "\f1f8";
}

.tu-user a:hover {
    text-decoration: underline;
}

a.button {
    display: block;
    background: #520f72;
    width: 100%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a.button:hover {
    background: #9324c7;
}

@media only screen and (max-width: 967px) {
    .avatar {
        display: none;
    }

    form .input.small-label {
        width: 100%;
    }

    .team-user-list {
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .team-user {
        width: 100%;
        margin: 10px 0;
    }
}