.add-form {
    width: 50%;
    margin: 20px auto;
}

.join-form {
    margin: 20px auto;
    text-align: center;
}

.add-form .input, .join-form .input {
    background: rgba(147, 36, 199, 0.7);
    border: 1px solid #520f72;
    box-shadow: none;
    color: #fff;
}

form.join-form label {
    margin: 10px 0;
}
.join-form .input.join {
    width: 200px;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
}

.join-form .button {
    float: none;
}