@font-face {
	font-family: 'BurbankBigCondensed';
	src: url('../webfonts/BurbankBigCondensed-Black.otf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../webfonts/OpenSans.ttf');
}

body {
	margin: 0;
	padding: 0;
	background: url('/public/img/backgrounds/all.jpg') no-repeat center fixed;
	background-size: cover;
	font-family: 'BurbankBigCondensed';
    letter-spacing: 1px;
    font-size: 20px;
}

.wrap {
	width: 1200px;
	margin: 50px auto;
}

/* Navigation */
nav {
    background: #0d183d;
    color: #fff;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
    height: 60px;
    margin-bottom: 30px;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li {
    float: left;
    line-height: 60px;
}

nav ul li.right {
    background: #520f72;
    float: right;
}

nav ul li.right a:hover {
    background: #9324c7;
}

nav ul li.active {
    background: #5a72af;
}

nav ul li a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #192a55;
}

/* Box */
.box {
    position: relative;
	background: rgba(93, 74, 186, 0.8);
    padding: 20px;
    margin: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
}

.box h2 {
	margin: 0 0 10px 0;
	color: #fff;
}

.box-container {
	display: flex;
	justify-content: space-between;
}

.box.box-65 {
	width: 65%;
}

.box.box-30 {
	width: 30%;
}

/* Form */
form {
    font-family: 'Open Sans';
    margin-bottom: 50px;
}

form label {
	display: block;
	font-size: 16px;
}

form .input {
	display: block;
    width: 100%;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 8px;
}

form .textarea {
    width: 100%;
    height: 100px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    padding: 8px;
}

form .input.small-label {
    width: 50%;
}

form .input[type=date] {
	font-family: 'Open Sans';
	height: 33px;
}

form .button {
	background: #520f72;
	float: right;
    border: none;
    padding: 2px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    height: 33px;
	line-height: 33px;
    font-family: 'BurbankBigCondensed';
    right: 20px;
    bottom: 20px;
}

form .button:hover {
	background: #9324c7;
}

form .radio label {
    display: inline;
}

.right-button {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    background: #520f72;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
}

/* Responsive */
@media only screen and (max-width: 1240px) {
	.wrap {
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
    }

    .box-container {
        display: block;
    }

    .box.box-65 {
        width: 100%;
    }
    
    .box.box-30 {
        width: 100%;
    }
}
