.platform-box {
    width: 32.97%;
    margin-bottom: 20px;
    box-shadow: 0 0 14px -7px #000;
    border-top: 3px solid #000;
    background: rgba(173, 183, 218, 0.2);
    border-radius: 3px;
    padding: 10px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor: pointer;
    display: inline-block;
}

.platform-box label {
    cursor: pointer;
}

.pc {
    border-top: 3px solid #cd7f32;
}

.xbl {
    border-top: 3px solid #9bc848;
}

.psn {
    border-top: 3px solid #665cbe;
}

.selected {
    background: rgba(173, 183, 218, 0.7);
}

/* Form */

.form {
    font-family: 'Open Sans';
    margin-bottom: 50px;
}

.form .button {
    position: absolute;
}

.form label {
	display: block;
	font-size: 16px;
}

.form .input {
	display: block;
    margin-bottom: 20px;
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 8px;
}

.form .input.small-label {
    width: 50%;
}

.form .input[type=date] {
	font-family: 'Open Sans';
	height: 33px;
}

.form .button {
	background: #520f72;
	float: right;
    margin: 15px 0 0 0;
    border: none;
    padding: 2px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    height: 33px;
	line-height: 33px;
	font-family: 'BurbankBigCondensed';
}

.form .button:hover {
	background: #9324c7;
}

.form .radio label {
    display: inline;
}

/* Stats */

.stats-box {
    display: none;
    color: #fff;
}

.loading {
    display:block;
    margin:0 auto;
    width:100px;
}

#stats-general {
    display: none;
    margin: 30px 0;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px -1px;
}

#stats-general-header {
    background: #d21346;
    padding-left: 20px;
    line-height: 40px;
}

#stats-general-content, #stats-classic-content {
    display: flex;
    justify-content: space-between;
    background: #0e183c;
    text-align: center;
}

#stats-type {
    display: none;
    justify-content: space-between;
}

.stats-boxes {
    display: inline-block;
    background: #293863;
    width: 30%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px -1px;
}

.stats-title, .stats-count {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.stats-count {
    font-size: 23px;
}

.stats-title {
    color: #919191;
    margin-bottom: 5px;
}

.stats-title-big {
    font-size: 23px;
    margin-bottom: 10px;
}

.stats-big {
    font-size: 30px;
}

.stats-general-info {
    padding: 30px;
}

.type-stats, .stats-cat {
    text-transform: uppercase;
    font-size: 20px;
}

.type-stats {
    margin-right: 30px;
}
.type-stats:hover {
    text-decoration: underline;
}

.type-stats.active {
    text-decoration: underline;
}

.stats-matchs {
    float: right;
    font-size: 22px;
}

.stats-header {
    line-height: 40px;
    padding: 0px 10px;
}

.stats-classic-info {
    padding: 20px;
}

.stats-classic-more {
    padding: 40px 20px;
}

.stats-more-content {
    margin-bottom: 20px;
}

.stats-more-content:last-of-type {
    margin-bottom: 0;
}

.stats-more-title, .stats-more-count, .rank {
    display: block;
}

.stats-more-title {
    color: #919191;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.progressbar, .pink-progress {
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

.progressbar {
    background: #0e183c;
}

.pink-progress {
    background: #d31346;
}

.stats-more-count {
    font-weight: bold;
    font-size: 18px;
}

/* Responsive */
@media only screen and (max-width: 1240px) {
    .stats-boxes {
        width: 100%;
        margin-bottom: 20px;
    }

    .stats-general-info {
        width: 100%;
        padding: 30px;
        float: left;
        box-sizing: border-box;
        background: #0e183c;
    }

    .platform-box {
        width: 100%;
    }
}