<form method="post" action="/join">
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" class="input" required/>

    <label for="lastname">Lastname</label>
    <input type="text" id="lastname" name="lastname" class="input" required/>

    <label for="username">Email</label>
    <input type="text" id="username" name="username" class="input" required/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="input" required/>

    <div class="flex buttons">
        <div></div>
        <div>
            <button class="submit" type="submit">Register now !</button>
        </div>
    </div>
</form>