<!DOCTYPE html>
<html>
    <head>
        <title>My Fortnite Coach</title>
        <link rel="stylesheet" href="../public/css/global.css" />
        <link rel="stylesheet" href="../public/css/index.css" />
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <nav>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="">Link 3</a></li>
                    <!-- if user is logged
                    <li class="right"><a href="">My account</a></li>
                    -->
                    <li class="right"><a href="member-area">Sign in</a></li>
                </ul>
            </nav>
            <!-- NAVIGATION -->
        </div>
    </body>
</html>