<form method="post" action="/join" method="post">
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" />

    <label for="lastname">Lastname</label>
    <input type="text" id="lastname" name="lastname" />

    <label for="username">Username</label>
    <input type="text" id="username" name="username" />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <div class="flex buttons">
        <div></div>
        <div>
            <button class="submit" type="submit">Register now !</button>
        </div>
    </div>
</form>