#team-buttons a {
	display: inline-block;
    background: #9324c7;
    width: calc(50% - 3px);
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#team-buttons a:hover {
    background: #a555cc;
}

<<<<<<< HEAD
=======
.box {
	background: rgba(93, 74, 186, 0.8);
    padding: 20px;
    margin: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
}

.box h2 {
	margin: 0 0 10px 0;
	color: #fff;
}

.box-container {
	display: flex;
	justify-content: space-between;
}

.box.box-65 {
	width: 65%;
}

.box.box-30 {
	width: 30%;
}

form {
	font-family: 'Open Sans';
}

form label {
	display: block;
	font-size: 16px;
}

form .input {
	display: block;
    margin-bottom: 20px;
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 8px;
}

form .input.small-label {
    width: 50%;
}

form .input[type=date] {
	font-family: 'Open Sans';
	height: 33px;
}

form .button {
	background: #520f72;
	float: right;
    margin: 15px 0 0 0;
    border: none;
    padding: 2px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    height: 33px;
	line-height: 33px;
	font-family: 'BurbankBigCondensed';
}

form .button:hover {
	background: #9324c7;
}

>>>>>>> Add account page frontend
.avatar {
    float: right;
    margin: 0 60px 20px 20px;
}

.avatar img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 2px solid white;
}

.clearfix::after {
	clear: both;
	content: "";
}

@media only screen and (max-width: 768px) {

}