<%if (messages) { %>
    <%if (messages.warning) { %>
        <%if (messages.warning.length) { %>
                <script>sendAlert('Warning', '<%= messages.warning %>', 'exclamation-triangle');</script>
        <% } %>
    <% } %>
    <%if (messages.danger) { %>
        <%if (messages.danger.length) { %>
                <script>sendAlert('Information', '<%= messages.danger %>', 'exclamation-circle');</script>
        <% } %>
    <% } %>
    <%if (messages.success) { %>
        <%if (messages.success.length) { %>
                <script>sendAlert('Success', '<%= messages.success %>', 'user-circle');</script>
        <% } %>
    <% } %>
<% } %>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Link 2</a></li>
        <li><a href="">Link 3</a></li>
        <%if (userData) { %>
            <li class="right"><a href="/logout">Déconnexion</a></li>
            <li class="right"><a href="/account">My account</a></li>
        <% } else { %>
            <li class="right"><a href="member-area">Sign in</a></li>
        <% } %>
    </ul>
</nav>